@page "/"
@using System.Text

<table width="450">
    <tr>
        <td>
            <h1>Star Trek</h1>
        </td>
        <td style="text-align: right;">
            @if (starDateString != null)
            {
                @foreach (var e in starDateString)
                {
                    var src = $"/images/{e}.png";
                    <img alt="e" src=@src />
                }
            }
        </td>
    </tr>
</table>

<table style="font-weight: bold;">
    <tr>
        <td>
            quadrant 3/1
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            @((MarkupString)MapDisplay)
        </td>
        <td style="vertical-align: top;">
            <table width="200" style="margin-left: 50px;">
                <tr>
                    <td>
                        condition
                    </td>
                    <td style="text-align: right;">
                        @_condition
                    </td>
                </tr>
                <tr>
                    <td>
                        torpedoes
                    </td>
                    <td style="text-align: right;">
                        @_torpedoes
                    </td>
                </tr>
                <tr>
                    <td>
                        energy
                    </td>
                    <td style="text-align: right;">
                        @($"{_energy:0000}")
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript: void(0);" onclick="@(() => SwitchShields())">shields</a>
                    </td>
                    <td style="text-align: right;">
                        @($"{_shieldLevel:0000}")
                    </td>
                </tr>
                <tr>
                    <td>
                        klingons
                    </td>
                    <td style="text-align: right;">
                        @_klingons
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            @((MarkupString)map)
        </td>
    </tr>
</table>
