@page "/"
@using System.Text

<h1>Startrek</h1>

<table style="font-weight: bold;">
    <tr>
        <td>
            quadrant @_quadrant.Title
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            @((MarkupString)_quadrant.ToString())
        </td>
        <td style="vertical-align: top;">
            <table width="200" style="margin-left: 50px;">
                <tr>
                    <td>
                        condition
                    </td>
                    <td style="text-align: right;">
                        @_condition
                    </td>
                </tr>
                <tr>
                    <td>
                        torpedoes
                    </td>
                    <td style="text-align: right;">
                        @_torpedoes
                    </td>
                </tr>
                <tr>
                    <td>
                        energy
                    </td>
                    <td style="text-align: right;">
                        @($"{_energy:0000}")
                    </td>
                </tr>
                <tr>
                    <td>
                        shields
                    </td>
                    <td style="text-align: right;">
                        @($"{_shieldLevel:0000}")
                    </td>
                </tr>
                <tr>
                    <td>
                        klingons
                    </td>
                    <td style="text-align: right;">
                        @_klingons
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            @((MarkupString)_map.ToString())
        </td>
        <td>

        </td>
    </tr>
</table>
